/* -------- Post List Page Only -------- */
body, h1, h2, h3, h4, h5, h6, p, a, input, button {
  font-family: cursive;
}

.page-title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #2c3e50;
}

/* Search bar */
.search-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-form input[type="text"] {
  flex: 1;
  padding: 10px 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.search-form button {
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

/* Create post button */
.create-btn {
  display: inline-block;
  margin-bottom: 25px;
  background-color: #2ecc71;
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
}

.create-btn:hover {
  background-color: #27ae60;
}

/* Post list */
.post-list {
  list-style: none;
  padding: 0;
}

.post-item {
  background: #fff;
  padding: 20px;
  margin-bottom: 18px;
  border-radius: 12px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.06);
}

.post-item h2 {
  margin-bottom: 10px;
  font-size: 22px;
}

.post-item h2 a {
  text-decoration: none;
  color: #2c3e50;
}

.post-item h2 a:hover {
  color: #3498db;
}

.meta {
  font-size: 5px;
  color: #888;
  margin-top: 15px;
}

.post-item p {
  font-size: 15px;
  line-height: 1.6;
}

/* Read more link */
.post-item a:last-child {
  display: inline-block;
  margin-top: 8px;
  color: #3498db;
  font-size: 14px;
}

.post-item a:last-child:hover {
  text-decoration: underline;
}

/* Pagination */
.pagination {
  margin-top: 30px;
  text-align: center;
}

.pagination a {
  margin: 0 8px;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #3498db;
  color: #fff;
  border-radius: 6px;
  font-size: 14px;
}

.pagination span {
  font-size: 14px;
  color: #555;
}

.pagination a:hover {
  background-color: #2980b9;
}

.link{
  text-decoration: none;
  font-weight: bold;
}

.paragraph{
  margin-top: -10px;
}

.post-date{
  font-size: 11.5px;
}
