{% extends "blog/base.html" %} {% block content %}
<h2>Delete Comment</h2>
<p>Are you sure you want to delete this comment?</p>

<form method="POST">
  {% csrf_token %}
  <button type="submit">Yes, delete</button>
  <a
    href="{{ object.post.get_absolute_url }}"
    style="
      text-decoration: none;
      font-weight: bold;
      background-color: rgb(232, 114, 114);
      padding: 11px;
      border-radius: 10px;
      color: black;
      margin-left: 20px;
    "
    >Cancel</a
  >
</form>

{% endblock %}
